<p>
    สวัสดีค่ะ คุณ @ViewBag.Username<br />
    <br />
    ทางทีมงาน Freebie ได้รับคำขอให้ส่งรหัสผ่านมาให้คุณอีกครั้ง เนื่องจากคุณลืมรหัสผ่านสำหรับใช้ล็อคอินเข้าสู่ระบบเพื่อใช้บริการของเว็บไซต์ www.freebie.co.th
    กรุณาคลิ๊กที่ลิ้งค์ด้านล่างนี้ เพื่อตั้งค่ารหัสผ่านใหม่ <br />
    <a href="@ViewBag.Link">@ViewBag.Link</a> <br />
    <br />
    ขอแสดงความนับถือ <br />
    แผนกบริการลูกค้า Freebie
</p>

