<div class="footbg">
        <div class="container box" style="margin-bottom:15px;">
            <div class="row footer">
            </div>
            <hr class="break-bottom-foot">
            <footer class="foot">
              <div class="row">
                <div class="span4">
                  <div class="phone">02-793-3939</div>
                </div>
                <div class="span4">
                  <div class="address">Echo 360 Co., Ltd. Floor 2 <br>The Village Center 869, Pattanakarn Road <br>Bangkok 10250 Thailand</div>
                </div>
                                            <div class="span4">
                  <div class="social tooltips" id="social">
                                                                          </div>
                </div>
              </div>
            </footer>
        </div>
        <div class="arrow-insert-b"> <div class="arrow-up"></div></div>
        <div class="copyright center-text">
           <h6> © 2013 Echo 360 Co., Ltd. </h6>
        </div>
</div>
