<div class="login-logo" style='width:100%;'>
    <div style='float:left;width:25%;'>
	    <a href="http://www.freebie.co.th" target="_blank"> <img src="@Url.Content("~/Images/u0_normal.png")" /> </a>
    </div>
    <div style='float:left;width:73%;height:80px;' id = 'top-banner-div'>
        
    </div>
</div>
