.backend-nav li
{
    width: 140px; 
    height: 30px;
    margin-right: 2px;
}
.dropdown-menu li
{
    width: 240px; 
    height: 25px;
    margin: 2px 0;
}
.backend-title 
{
    width:80%;
    display:block;
    text-align:center;
    text-decoration: underline;   
    font-size: 16px; 
    color: Black;
    margin-bottom: 20px;
}
.backend-table-title 
{
    width: 80%;
    color: Black; 
    border-bottom: 1px solid black;   
}
