<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
  </configSections>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="CommerceScheduler" />
    <!-- Configure Thread Pool -->
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz" />
    <add key="quartz.threadPool.threadCount" value="10" />
    <add key="quartz.threadPool.threadPriority" value="Normal" />
    <!-- Configure Job Store -->
    <add key="quartz.jobStore.misfireThreshold" value="60000" />
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz" />
    <!--<add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.JobInitializationPlugin, Quartz" />-->
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz"/>
    <add key="quartz.plugin.xml.fileNames" value="~/quartzjobs.config" />
  </quartz>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true"/>
        <arg key="showDataTime" value="true" />
        <arg key="level" velue="DEBUG"/>
        <arg key="dataTimeFormat" value="HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <connectionStrings>
	  <add name="EchoContext" providerName="System.Data.SqlClient" connectionString="server=Localhost;database=echo;Persist Security Info=True;User ID=ziph3r;Password=1q2w3e;" />
    <add name="Elmah.Sql" connectionString="server=Localhost;database=echo;Persist Security Info=True;User ID=ziph3r;Password=1q2w3e;"/>
  </connectionStrings>
  
  <appSettings>
      <add key="webpages:Version" value="2.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="PreserveLoginUrl" value="true" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="SystemUsername" value="WEBSITE" />
    <!-- mail encrypt key-->
      <add key="TEMP_KEY" value="Freebie13062013" />
      <add key="APP_VERSION" value="V. 20130917"/>
    <!-- Register : Username-->
      <add key="Login001" value="ชื่อผู้ใช้ (อีเมล์) หรือรหัสผ่านไม่ถูกต้อง กรุณาตรวจสอบใหม่อีกครั้ง" />
      <add key="Login002" value="บัญชีของคุณถูกระงับการใช้งาน กรุณาติดต่อผู้ดูแลระบบ" />
      <add key="Validate001" value="กรุณากรอกอีเมล์" />
      <add key="Validate002" value="รูปแบบอีเมล์ไม่ถูกต้อง" />
      <add key="Validate003" value="อีเมล์นี้ได้ทำการสมัครแล้ว" />
      <add key="Validate004" value="ยืนยันอีเมล์ไม่ถูกต้อง" />
      <add key="Validate005" value="กรุณากรอกรหัสผ่าน" />
      <add key="Validate006" value="ยืนยันรหัสผ่านไม่ถูกต้อง" />
      <add key="Validate008" value="รหัสผ่านต้องมีความยาว 6-15 ตัวอักษร" />
    <!-- Register : Verify Number-->
      <add key="Validate007" value="รหัสผ่านไม่ถูกต้อง" />
      <add key="Validate009" value="กรุณากรอกยืนยันรหัสผ่าน" />
      <add key="Validate010" value="รหัสผ่านมีความยาวมากกว่า 3 ตัวอักษร" />
    <!-- Account Model-->
      <add key="Account001" value="กรุณากรอกชื่อผู้ใช้" />
      <add key="Account002" value="กรุณากรอกรหัสผ่าน" />
      <add key="Account003" value="กรุณากรอกชื่อจริง" />
      <add key="Account004" value="กรุณากรอกนามสกุล" />
      <add key="Account005" value="กรุณาระบุเพศของท่าน" />
      <add key="Account006" value="หากท่านประสงค์จะลงทะเบียน กรุณากดยอมรับข้อตกลง" />
      <add key="Account007" value="รหัสบัตรประชาชนต้องเป็นตัวเลข 13 หลัก" />
      <add key="Account008" value="รหัสบัตรประชาชนไม่ถูกต้อง" />
      <add key="Account009" value="กรุณาระบุวันเดือนปีเกิด" />
      <add key="Account010" value="รูปแบบของหมายเลขโทรศัพท์ไม่ถูกต้อง" />
      <add key="Account011" value="เบอร์โทรนี้ยังไม่ได้ลงทะเบียน" />
      <add key="Account012" value="รหัสผ่านไม่ถูกต้อง" />
      <add key="Account013" value="รหัสผ่านเดิมไม่ถูกต้อง" />
      <add key="Account014" value="ยืนยันรหัสผ่านไม่ถูกต้อง" />
      <add key="Account015" value="ชื่อผู้ใช้ซ้ำ" />
      <add key="Account016" value="รูปแบบอีเมล์ไม่ถูกต้อง" />
      <add key="Account017" value="ยืนยันอีเมล์ไม่ถูกต้อง" />
      <add key="Account018" value="ไม่มีพบ email ของท่านในระบบ กรุณาตรวจสอบอีกครั้ง" />
      <add key="Account019" value="กรุณากรอกวันเดือนปีเกิดให้ถูกต้อง" />
      <add key="Account020" value="กรุณากรอกวันเดือนปีเกิด" />
      <add key="Account021" value="กรุณาระบุอายุบุตรคนที่ 1" />
      <add key ="Account022" value ="หมายเลขนี้ยังลงทะเบียนไม่เสร็จสิ้น กรุณาลงทะเบียนชื่อผู้ใช้"/>
      <add key="Account023" value="รหัสไปรษณีย์ต้องเป็นตัวเลข 5 หลัก" />
      <add key="Account024" value="ไม่สามารถเปลี่ยนชื่อผู้ใช้ใหม่ได้ เนื่องจากบัญชีไม่มีข้อมูลชื่อผู้ใช้เดิม" />
      <add key="Account025" value="กรุณารายได้ครัวเรือนต่อเดือน" />
      <add key ="STAFF_PWD" value ="กรุณากรอกข้อมูลรหัสผ่านให้ครบถ้วน"/>
      <add key ="MULTIPLE_LOGIN" value="ไม่สามารถเข้าระบบได้ เนื่องจากชื่อผู้ใช้งานนี้กำลังใช้งานระบบอยู่"/>
      <!-- SMS -->
      <add key="EXIST_NUMBER" value="หมายเลขนี้เคยถูกใช้ลงทะเบียนแล้ว กด *115 เบอร์ปลายทางแล้วโทรออกได้เลย" />
      <add key="WRONG_FORMAT" value="ขออภัย รูปแบบไม่ถูกต้อง กรุณาตรวจสอบและลงทะเบียน Freebie ใหม่อีกครั้ง" />
      <add key="NO_ACCTACTIVATION" value="ขออภัย ขณะนี้ไม่สามารถลงทะเบียนได้ชั่วคราว กรุณาลงทะเบียนใหม่ภายหลัง" />
      <add key="ACD" value="คุณได้รับสิทธิ์โทรฟรี {count} ครั้งต่อวัน ครังละ {mins} นาที รวม {num} นาทีต่อเดือน" /> <!-- count, mins, num are integer-->
      <add key="AP" value="คุณลงทะเบียนสมบูรณ์ บริษัทจะส่ง SMS แจ้ง ณ วันที่คุณเริ่มใช้บริการได้" />
      <add key ="ACTIVE_ACCOUNT_SMS" value="คุณสามารถเริ่มใช้บริการได้แล้ว กด *115 เบอร์ปลายทางแล้วโทรออกได้เลยค่ะ"/>
      <add key ="SMS_MIN_YEAR" value ="2450"/>
      <add key ="CREATED_BY_SMS" value ="SMS"/>
    <!-- Forgot Password-->
      <add key="LINK_EXPIRED" value="15" /> <!-- minutes-->
    <!--  minutes -->
    <!-- OTP -->
      <add key="Otp01" value="ไม่สามารถขอรับรหัสผ่านได้ เนื่องจากท่านส่งคำขอเกิน {count} ครั้งในหนึ่งวัน" /> <!--  do not remove or change {count}-->
      <add key="Otp02" value="กรุณารอ {minutes} นาที เพื่อส่งคำขอรหัสผ่านอีกครั้ง" /> <!--  do not remove or change {minutes}-->
      <add key="Otp03" value="ท่านกรอกรหัสผ่านไม่ถูกต้องเกิน 3 ครั้ง กรุณาขอรหัสผ่านใหม่" />
      <add key="Otp04" value="รหัสผ่านหมดอายุ กรุณาขอรหัสผ่านใหม่" />
    <!-- Backend Config-->
      <add key="StaffPerPage" value="25" />
      
      <add key="OTPPwdExpired" value="15" /> <!-- Minutes -->
      <add key="SMS_GATEWAY" value="http://203.146.102.26/smartcomm21/SendMessage" />
      <add key="SMS_HOST" value="203.146.102.26" />
      <add key="MOBILE_ACCOUNT" value="postecho@echo" />
      <add key="MOBILE_PWD" value="19EF8A84C7B90AFE2F59489A50875B117E5E436847E3A324EA97ACFC4582CA13" />  <!-- -->
      <add key="SMS_MESSAGE_OTP_REG" value="Freebie รหัส OTP ลงทะเบียนใหม่: {otp} (รหัสมีอายุใช้งาน  {time} นาที)" /> <!-- USE OTPPwdExpired as {time} param-->
      <add key="SMS_MESSAGE_OTP_USERNAME" value="Freebie รหัส OTP ลืมอีเมล์: {otp} (รหัสมีอายุใช้งาน {time} นาที)" /> <!-- USE OTPPwdExpired as {time} param-->
      <add key="SMS_MESSAGE_FORGOT_USERNAME" value="Freebie ชื่อผู้ใช้ (อีเมล์) ของท่าน: {username}" />
      <add key="MESSAGE_LANGUAGE" value="T" /> <!-- ["T" for Thai, "E" for English, case sensitive]-->
      <add key="SENDER_NAME" value="Freebie" /> <!-- Sender name for each messages-->
      <add key="SEND_SMS" value="NO" /> <!-- ["YES" or "NO" with case sensitive]-->
      <add key="OTP_DIGITS" value="4" />
      <add key="OTP_ALLOW_PER_DAY_PER_NUMBER" value="3" /> <!-- count per day-->
      <add key="INTERVAL_PERIOD_BETWEEN_OTP" value="5" /> <!--  minutes -->
      <add key="MOBILE_PREFIX" value="08, 09" />
      <add key="MvcMailer.BaseURL" value="" />
    <!-- SearchCustByAgent-->
      <add key="SEARCH_CRITERIA" value="กรุณาระบุเงื่อนไขการค้นหา" />
      <add key="IDCARD_IS_NUMBER" value="หมายเลขบัตรประชาชนต้องเป็นตัวเลข" />
      <add key="IDCARD_13_DIGITS" value="หมายเลขบัตรประชาชนต้องเป็นตัวเลข 13 หลัก" />
    <!-- Staff-->
      <add key="SU_EXISTS" value="ไม่สามารถสร้างบัญชีใหม่ได้ เนื่องจากมีข้อมูลสังกัดและกลุ่มในระบบแล้ว" />

      <!--<add key="cronExpr" value="0/5 * * * * ?"/>-->
      <add key ="ACTIVATION_SMS_CRON_EXP" value="0 39 20 1/1 * ? *"/> <!-- start at 9:00 AM-->
      <add key="ACTIVATION_SMS_TIMESPAN" value="5000"/> <!-- ms -->
      <add key="ACTIVATION_SMS_RETRY" value="3"/> <!-- integer count-->
      <add key="ACTIVATION_SMS_RETRY_TIMESPAN" value="10000"/> <!-- ms -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
	  <authentication mode="Forms">
		  <forms loginUrl="~/Users/Login" timeout="2880" />
	  </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" timeout="20" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
    
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
 </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  <validation validateIntegratedModeConfiguration="false" /></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
   <system.net>
     <mailSettings>
       <smtp from="noreply@freebie.co.th">
          <network enableSsl="true" host="smtp.gmail.com" port="587" userName="noreply@freebie.co.th" password="OJX91Sc9[eQ?#3x" />
       </smtp>
     </mailSettings>
   </system.net>

  
<elmah>
   <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <!--<errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data" />-->
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.Sql" />
    <security allowRemoteAccess="true" />
</elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>