<div class="title" style="margin-bottom: 40px;">
	<span class="pink-text">ผลการดำเนินการ</span>
</div>
<div class = "content-area">
        <p>
            หมายเลขนี้ไม่สามารถใช้ลงทะเบียนใหม่ได้ กรุณาติดต่อ Call Center
        </p>
        <div style="text-align:center;margin-top:40px;">
            <a href="@ViewBag.Path" class="btn btn-primary btn-blue">ย้อนกลับ</a>
        </div>
</div>
 @Html.Partial("~/Views/Shared/_Sidebanner.cshtml")

