@{
    string side_banner_path = "~/Images/Banners/Side/";    
}
<style>
      
     .Statics_ChangeUsername
        {
            background-image: url(@Url.Content(side_banner_path + "Statics_ChangeUsername_250.png")); 
            background-repeat: no-repeat; 
            background-size: 250px auto;  
            margin-top: -20px;  
    
        }
     #top-banner-div { background-image: url(@Url.Content("~/Images/Banners/Top/" + "Statics_ChangeUsername" + ".png")); }
</style>
<div class="title pink-text" style="margin-bottom: 40px;">
	<span>ผลการดำเนินการ</span>
</div>
<div class = "content-area">
    <p>
        ระบบดำเนินการเปลี่ยนชื่อผู้ใช้บริการเรียบร้อยแล้ว
    </p>
</div>
<div class = "side-banner Statics_ChangeUsername">

</div>

