    <div class="eula-popup">
        <div class ="popup-title">
	        <span class="pink-text"> ข้อกำหนดในการให้บริการและนโยบายส่วนบุคคล</span>
        </div>
        <p>         
            เพื่อเป็นการรักษาสิทธิประโยชน์ของท่านกรุณาศึกษารายละเอียดข้อกำหนด และเงื่อนไขการสมัครสมาชิก Freebie โดยละเอียด
        </p>
        <ul>
            <li> บริการ Freebie ("บริการ") เป็นกรรมสิทธิ์และอยู่ภายใต้การบริหารจัดการของบริษัทเอคโค่ 360 จำกัด ("บริษัทฯ") </li>
            <li>ผู้สมัครสมาชิก Freebie ("สมาชิก") ได้อ่านเงื่อนไขต่างๆ และข้อตกลงการใช้บริการ ซึ่งกำหนดสิทธิ รวมถึงหน้าที่ของบริษัทฯและสมาชิกจนเข้าใจอย่างละเอียดครบถ้วนแล้วจึงได้ตกลงใช้บริการ โดยการลงทะเบียนเปิดใช้บริการกับบริษัทฯลงนามในใบสมัครหรือด้วยวิธีการทางอิเล็กทรอนิกส์ผ่านโทรศัพท์เคลื่อนที่รวมถึงการพิมพ์หรือเลือกข้อความ และการกระทำใดๆที่ทำให้ปรากฏซึ่งข้อความตามวิธีการที่บริษัทฯกำหนดไว้ ผ่านเครื่องโทรศัพท์เคลื่อนที่เครื่องโทรศัพท์บ้านเครือข่ายอินเตอร์เน็ต (Internet) หรือสื่ออิเล็กทรอนิกส์อื่นใดตามที่บริษัทฯกำหนดเมื่อบริษัทฯได้เปิดบริการ หรือยินยอมให้สมาชิกใช้บริการแล้ว ถือว่าสมาชิกได้ตกลงทำสัญญากับบริษัทฯ โดยยินยอมผูกพันและปฏิบัติตามข้อตกลงฉบับนี้ทุกประการ</li>
            <li>บริษัทฯ ขอสงวนสิทธิ์การเปิดให้บริการกับสมาชิกที่มีข้อมูลและคุณสมบัติตรงตามเงื่อนไขที่บริษัทฯกำหนดเท่านั้น</li>
            <li>สมาชิก<span class="hilight">จะต้องมีอายุครบ 15 ปีบริบูรณ์ในวันที่ทำการสมัคร รวมทั้งต้องมีสัญชาติไทย</span>และอาศัยอยู่ในประเทศไทยและมีเบอร์โทรศัพท์มือถือที่ออกให้<span class="hilight">โดยถูกต้อง</span>โดยผู้ให้บริการเครือข่ายโทรศัพท์มือถือในประเทศไทยตามที่บริษัทฯกำหนด ตลอดระยะเวลาการเป็นสมาชิก</li>
            <li>เมื่อสมาชิกทำสัญญากับบริษัทฯสมาชิกตกลงและยินยอมให้บริษัทฯนำข้อมูลส่วนบุคคล รวมถึงข้อมูลการใช้บริการ (“ข้อมูลทางธุรกรรม”) ทั้งหมดหรือบางส่วนเพื่อใช้ในการประมวลการนำเสนอข้อมูลข่าวสาร และเพื่อการคำนวณการให้สิทธิประโยชน์แก่สมาชิกและวัตถุประสงค์ในการสำรวจการทำการตลาดและการจัดการโปรแกรมรวมถึงเพื่อวัตถุประสงค์ใดๆตามที่บริษัทฯเห็นสมควร</li>
            <li>เมื่อสมาชิกทำสัญญากับบริษัทฯสมาชิกตกลงและยินยอมให้บริษัทฯเปิดเผยข้อมูลทางธุรกรรมให้แก่<span class="hilight">บุคคล/นิติบุคคล</span>ที่ได้รับมอบหมายจากบริษัทฯ<span class="hilight">และ/หรือ</span>คู่สัญญาทางธุรกิจอื่นๆ<span class="hilight">และ/หรือ</span>อาจใช้ข้อมูลทางธุรกรรมทั้งหมดหรือบางส่วนเพื่อการให้บริการและมอบสิทธิประโยชน์แก่สมาชิก รวมถึงเพื่อวัตถุประสงค์ใดๆตามที่บริษัทฯเห็นสมควร</li>
            <li>ข้อมูลทางธุรกรรมและข้อมูลทั้งหมดของสมาชิกซึ่งได้ให้ไว้กับบริษัทฯและที่ได้มาในภายหลังจากการลงทะเบียนเข้าเป็นสมาชิก จะถือว่าข้อมูลทั้งหมดนั้นเป็นทรัพย์สินของบริษัทฯ</li>
            <li>บริษัทฯจะไม่โอนและ/หรือเปิดเผยข้อมูลทางธุรกรรมของสมาชิกแก่บุคคลภายนอกเว้นแต่ในกรณี<span class="hilight">การโอน และ/หรือ เปิดเผยข้อมูลทางธุรกรรมของสมาชิก</span>(ก) <span class="hilight">กับ</span>คู่สัญญาทางธุรกิจซึ่งบริษัทฯเข้าทำสัญญาเพื่อการจัดการระบบ และข้อมูลของ<span class="hilight">บุคคล/นิติบุคคล</span>ที่ได้รับมอบหมายจากบริษัทฯ (ข) <span class="hilight">ตาม</span>ข้อกำหนดและเงื่อนไข<span class="hilight">ที่</span>ได้กำหนด<span class="hilight">ไว้</span>เป็นอย่างอื่น<span class="hilight">และ/หรือ</span> (ค) <span class="hilight">ซึ่ง</span>เป็นไปตามที่กฎหมายกำหนดทั้งนี้ข้อมูลเพิ่มเติมเกี่ยวกับนโยบายความเป็นส่วนตัว ท่านสามารถศึกษารายละเอียดได้ที่ s.freebie.co.th</li>
            <li>สมาชิกตกลงและยินยอมว่าบริษัทฯ<span class="hilight">และ/หรือบุคคล/นิติบุคคล</span>ที่ได้รับมอบหมายจากบริษัทฯอาจทำการส่งข่าวสารทางการตลาด การส่งเสริมการขาย และข้อมูลอื่นใดให้แก่สมาชิกเป็นครั้งคราว<span class="hilight">ตามดุลยพินิจของบริษัทฯ</span>หากสมาชิกท่านใดไม่ประสงค์จะรับข่าวสารเพิ่มเติมทางการตลาดการส่งเสริมการขายและข้อมูลอื่นใดท่านสามารถทำการยกเลิกได้ที่ s.freebie.co.th</li>
            <li>บริษัทฯขอสงวนสิทธิ์ในการยกเลิกการเป็นสมาชิกหรือปฏิเสธการให้บริการในเวลาใดๆโดยมิต้องแจ้งให้ทราบล่วงหน้า<span class="hilight">หากปรากฏว่า</span>สมาชิกให้ข้อมูลอันเป็นเท็จข้อมูลที่ก่อ<span class="hilight">หรืออาจก่อ</span>ให้เกิดความเข้าใจผิด ข้อมูลไม่ถูกต้อง รวมถึงข้อมูลที่ก่อหรืออาจก่อให้เกิดความเสียหายต่อบริษัทฯ<span class="hilight">และ/หรือบุคคลอื่นใด</span></li>
            <li>บริษัทฯ จะไม่รับผิดชอบในความเสียหายใดๆที่เกิดขึ้น หรือเกี่ยวข้องกับบริการนี้เว้นแต่เป็นกรณีที่กฎหมายกำหนดเท่านั้น</li>
            <li>การบอกกล่าวหรือการติดต่อสื่อสารทั้งหมด จะถือว่าเป็นการติดต่อและส่งข้อมูลโดยชอบเมื่อมีการส่งไปตามอีเมลแอดเดรสที่อยู่เบอร์โทรศัพท์ <span class="hilight">และ/หรือ</span>ช่องทางอื่นๆ ที่สมาชิกได้ให้ข้อมูลไว้กับบริษัทฯทั้งนี้บริษัทฯ จะไม่รับผิดชอบในกรณีที่สมาชิกไม่ได้รับการบอกกล่าวหรือการติดต่อสื่อสารนั้นๆรวมถึงข่าวสารที่อาจไม่ตรงตามต้องการในขณะนั้น</li>
            <li>บริษัทฯขอสงวนสิทธิ์ในการแก้ไขเปลี่ยนแปลงสิ้นสุดยกเลิกทบทวนและ/หรือเพิกถอนการให้บริการ Freebie <span class="hilight">และ/หรือ</span>สิทธิประโยชน์อื่นๆรวมถึงข้อกำหนดและเงื่อนไขต่างๆโดยมิต้องแจ้งให้<span class="hilight">สมาชิก</span>ทราบล่วงหน้า</li>
            <li>หากมีข้อพิพาทใดๆเกิดขึ้นจากบริการนี้คำวินิจฉัยของบริษัทฯถือเป็นที่สุด<span class="hilight">ทั้งนี้ สมาชิกตกลงและยินยอมปฏิบัติตามคำวินิจฉัยดังกล่าวของบริษัทฯ</span> </li>
            <li>ข้อมูลเพิ่มเติมและข้อมูลล่าสุดเกี่ยวกับข้อกำหนดและเงื่อนไขของบริการ ท่านสามารถศึกษาได้ที่ s.freebie.co.th</li>
        </ul>

         <div style="text-align:center;margin-top:40px;">
            <input id="close-popup-window" class="btn btn-primary btn-blue" type="button" value ="ตกลง"/>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#close-popup-window').on('click', function (e) {
                window.close();
            });
        })
    </script>
