<ul id="quotas-table" style="display:none;">  
    <li id="low" data-freq-val ='1' data-dur-val = '1'></li>
    <li id="medium" data-freq-val ='2' data-dur-val = '1'></li>
    <li id="high" data-freq-val ='3' data-dur-val = '2'></li>
</ul>