<div class="title pink-text" style="margin-bottom: 40px;">
	<span>ผลการดำเนินการ</span>
</div>

<div>
        <p>
            ขออภัยเบอร์โทรศัพท์นี้ไม่สามารถใช้บริการได้
        </p>
        <div style="text-align:center;margin-top:40px;">
            <a href="@ViewBag.Path" class="btn btn-primary btn-blue">กลับสู่หน้าหลัก</a>
        </div>
</div>
