@{
    string side_banner_path = "~/Images/Banners/Side/";    
}
<style>
      
     .Statics_SendPasswordToEmail
        {
            background-image: url(@Url.Content(side_banner_path + "Statics_SendPasswordToEmail_250.png")); 
            background-repeat: no-repeat; 
            background-size: 250px auto;  
            margin-top: 0;  
    
        }
     #top-banner-div { background-image: url(@Url.Content("~/Images/Banners/Top/" + "Statics_SendPasswordToEmail" + ".png")); }
</style>

<div style="margin: 0 0 0 150px;">
    <div class="title pink-text" style="margin-bottom:20px;">
		    <span>ผลการดำเนินการ</span>
    </div>
    <div class = "content-area" style = "width: 500px;">
        <p>ระบบดำเนินการส่งข้อมูลการขอรหัสผ่านใหม่ไปยังอีเมล์ของท่านเรียบร้อยแล้ว</p>
    </div>
    <div class = "side-banner Statics_SendPasswordToEmail">

    </div>
</div>
