<div  class="view-number-remark">
    <span class="pink-text">หมายเหตุ:</span>
    <ul>
    <li>ระบบรองรับสูงสุด 3 เบอร์โทรศัพท์มือถือต่อ 1 สมาชิก</li>
    <li>สมาชิกสามารถเลือกเบอร์โทรศัพท์มือถือเป็นเบอร์หลักได้ 1 เบอร์เท่านั้น</li>
    <li>ในกรณีที่สมาชิกต้องการต้องการลบเบอร์โทรศัพท์มือถือหลักออกจากระบบ กรุณาทำการเพิ่มเบอร์ใหม่ เลือกเบอร์ใหม่เป็นเบอร์หลักแล้วจึงค่อยลบเบอร์เก่าออกจากระบบ</li>
    </ul>
</div>
